@import url('https://fonts.googleapis.com/css?family=Poppins:700');

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(50, 50, 50);
    background-image: url(./img/wallpaper.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.nav-cont {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-item {
    padding: 30px 1.7vw 30px 1.7vw;
    filter: opacity(60%);
    transition: all 0.5s 0s ease;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px #000000;
    font-family: Verdana;
    font-size: 20px;
}

@media (hover:hover) {
    .nav-item:hover {
        filter: opacity(100%);
    }
}


@media screen and (max-width: 600px) {
    .nav-item {
        padding: 30px 10px 30px 10px;
    }

    a {
        font-size: 15px;
    }
}

.title {
    color: white;
    font-family: Verdana;
    font-size: 70px;
    text-align: center;
    filter: opacity(60%);
    padding-top: 33vh;
    text-shadow: 2px 1px #000000;
}

.container{
    filter: opacity(60%);
    margin: auto;
    margin-top: 3vh;
    width: 300px;
    height: 100px;
}
.container .search{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 80px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    transition: all 1s;
}

.container .search:hover{
    cursor: pointer;
}
.container .search:before{
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: rgb(0, 0, 0);
    transform: rotate(45deg);
    transition: all 0.5;
}
.container .search:after{
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    transition: all 0.5;
}
.container input{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: rgb(255, 255, 255);
    padding: 0 80px 0 20px;
    border-radius: 30px;
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    color: rgb(0, 0, 0);
}
.container input:hover{
    cursor: pointer;
}
.container input:focus{
    width: 300px;
    opacity: 1;
    cursor: text;
}
.container input:focus ~ .search{
    right: -250px;
    background: #ffffff;
    z-index: 6;
}
.container input:focus ~ .search:before{
    top: 0;
    left: 0;
    width: 25px;
}
.container input:focus ~ .search:after{
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: rgb(0, 0, 0);
    border-radius: 0%;
    transform: rotate(-45deg);
}
.container input::placeholder{
    color: rgb(0, 0, 0);
    opacity: 0.5;
    font-weight: bolder;
}

.copyright {
    position: absolute;
    bottom: 5;
    width: 100%;
    text-align: right;
    color: white;
    filter: opacity(60%);
    font-family: Verdana;
    right: 5;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}